<%- include('partials/navigation'); -%>



    <div class="container">

        <div class="row">
            <!--Form-->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Title</label>
                                <input type="text" name="title" class="form-control" aria-describedby="emailHelp">

                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Description</label>
                                <input type="text" name="description" class="form-control">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary ">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- List-->
            <div class="col-md-7">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < tasks.length; i++) { %>

                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>

                                <td>
                                    <%= tasks[i].title %>
                                </td>

                                <td>
                                    <%= tasks[i].description %>
                                </td>

                                <td>
                                    <a href="/edit/<%= tasks[i]._id %>" class="btn <%= tasks[i].status ? 'btn-success' : 'btn-dark' %> ">Done</a>

                                    <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger ">Delete</a>
                                </td>

                            </tr>


                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); -%>